@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

/* body {
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
} */


.container {
    margin-top: 50px;
    width: 300px;
    box-shadow: 0px 0px 20px 10px #e7e8eb;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
}
h1 {
    margin-bottom: 40px;
}

input {
    border: gray solid 1px;;
    border-bottom: 1px solid gray;
    border-radius: 30px;
    width: 50%;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    scroll-behavior: none;
    color: white;
}

button {
    width: 50%;
    height: 35px;
    margin-top: 10%;
    border-radius: 20px;
    border: none;
    background-color: black(233, 230, 230);
    color: black;
    font-size: 22px;
}

#result {
    margin-top: 20px;
    font-size: 25px;
}